
<p> Genny and Joey are getting married! Please create an account by filling in the form below to see all of the details of the wedding and to let us know if you can make it. If you already have an account, please select to login by clicking the link above.
</p>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>