<meta content="width=device-width, initial-scale=1" name="viewport" />
<center><div class="form-background-sign-in" >
<div class="form-heading"> Reset Password </div>
<%= form_for @user, :url => password_reset_path(params[:id]) do|f| %>
  <%= f.text_field :password, :label => "Password (6 or more characters)", :type => "password" %>
  <input type="submit" name="commit" value="Update Password" class="btn btn-secondary" data-disable-with="Update Password">
  </center>
  <% end %>
</div>
</center>