<div class="travel-details-container">
    <div class="travel-details">
    <div class="travel-heading">FAQs</div>
    <div class="row">
    <div class="h3-first collapsible" > Where should we stay? </div>
    <div class="content content_hidden">
    <p> There are lots of accommodation options in Oxford for all different budgets. Oxford is small - our wedding ceremony is in the centre of town and the reception is 2 miles away. </p>
    <p> You can check out some of the options on <a href="https://www.airbnb.co.uk/s/Oxford/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&source=structured_search_input_header&search_type=unknown&ne_lat=51.762895928603555&ne_lng=-1.2132927898183254&sw_lat=51.71261446144581&sw_lng=-1.282815647484341&zoom=13&search_by_map=true&query=Oxford%2C%20United%20Kingdom&checkin=2021-07-17&checkout=2021-07-18&adults=2" target="_blank"> Airbnb.co.uk </a> and <a href="https://www.booking.com/searchresults.en-gb.html?label=opensearch-plugin&sid=88a6861ba8e048ec4f3b0233d3bf79ce&tmpl=searchresults&checkin_month=7&checkin_monthday=17&checkin_year=2021&checkout_month=7&checkout_monthday=18&checkout_year=2021&city=-2604911&class_interval=1&dest_id=-2604911&dest_type=city&dtdisc=0&from_sf=1&group_adults=1&group_children=0&inac=0&index_postcard=0&label_click=undef&no_rooms=1&postcard=0&room1=A&sb_price_type=total&shw_aparth=1&slp_r_match=0&src_elem=sb&srpvid=93ff852c222a00bf&ss=Oxford&ss_all=0&ssb=empty&sshis=0&ssne=Oxford&ssne_untouched=Oxford&top_ufis=1&order=distance_from_search" target="_blank">Booking.com</a>. It is also possible to stay in Oxford University college accommodation, which is basic but good value and gives you a chance to stay in one of Oxford's colleges. More info can be found <a href="https://www.universityrooms.com/en-GB/city/Oxford/home" target="_blank">here</a>. <br>
    </p>
    <p>Alternatively, it is possible to get back to London at any time of night using the 24 hour coach service (more detail on the <%= link_to 'Travel', controller: 'travel' %> page).
    </p> 
    </div>
    <div class="collapsible">
    <h3> How should I RSVP to the wedding? </h3>
    </div>
    <div class="content content_hidden">
    <p> Please let us know if you can make it using the 
    <% if !responded? %>
    <%= link_to 'RSVP', new_response_path %>
  <% else %>
  <%= link_to 'RSVP', response_path(current_response) %>
  <% end %> link. Even if you've already let us know in person, we would be grateful if you could please fill in the form too so we can keep track of all of the responses. </p>
  <p> Please RSVP to the wedding by <b> 1 May 2021 </b> at the very latest. </p>
  </div>
  <div class="collapsible">
    <h3> What should I do if I need to change my RSVP? </h3>
    </div>
    <div class="content">
    <p> There is the option to edit your RSVP in the RSVP section of the website. This will be disabled after 1 May 2021 - if you need to change your RSVP after this date, please get in touch with Genny (07917612341) or Joey (07944358884) as soon as possible to let us know. </p>
    </div>
    <div class="collapsible">
    <h3>Are my children invited?</h3>
    </div>
    <div class="content">
    <p>We regret that we can only accommodate a handful of close family children at our wedding. We hope you understand this decision and will still be able to join us on our special day. </p>
    </div>
    <div class="collapsible">
    <h3> What should I wear to the wedding? </h3>
    </div>
    <div class="content">
    <p> The dress code is summer wedding. We have organised the transport from University College to The Perch - this will involve around 10 minutes of walking on pathways so if it is a cold day then bring something to keep you warm. At The Perch, we will be in a marquee with hard floor. There's no need to cover your shoulders for the chapel.  </p>
    </div>
    <div class="collapsible">
    <h3> What should I get you for a gift? </h3>
    </div>
    <div class="content">
    <p> The greatest gift we could ask for is for you to be there at our wedding so we have not set up a gift list. However, if you would like to treat us, a donation to our honeymoon fund would be much appreciated. </p>
    </div>
    <div class="collapsible">
    <h3> What is the best way to travel to Oxford? </h3>
    </div>
    <div class="content">
    <p> Travel info can be found in the  <%= link_to 'Travel', controller: 'travel' %> page of this website. It is very difficult to park in Oxford and there is no parking at University College or The Perch so if you are driving then we recommend using the <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride" > Park and Ride </a>. 
    </div>
    <div class="collapsible">
    <h3> What time should I get to University College? </h3>
    </div>
    <div class="content">
    <p> The ceremony will start at 2pm so please arrive from 1.30pm so you can make your way to the chapel and take your seat in plenty of time.  </p>
    </div>
    <div class="collapsible">
    <h3> How long is the ceremony? </h3>
    </div>
    <div class="content">
    <p> We will be having a short religious ceremony in the chapel. It should last around 30 minutes. </p>
    </div>
    <div class="collapsible">
    <h3> How are we getting from University College to The Perch? </h3>
    </div>
    <div class="content">
    <p> We have organised the transport but want to keep this as a surprise. </p>
    </div>
    <div class="collapsible">
    <h3> Are we allowed to take photos? </h3>
    </div>
    <div class="content">
    <p> Of course! Please do take lots of photos of the day and share any good ones with us afterwards. It is fine to take photos inside the chapel too. </p>
    </div>
    <div class="collapsible">
      <h3> What time will we be having dinner and what are we having to eat? </h3>
      </div>
      <div class="content">
    <p> A three course meal will be served at 5.30pm so please do eat lunch before the ceremony. All dietary needs will be catered for - please let us know what these are when you RSVP. There will be pudding and wedding cake available but we won't be serving any other food later in the night so please make sure you eat enough to keep you going. </p> 
    </div>
    <div class="collapsible">
      <h3> Will the drinks be free? </h3>
    </div>
    <div class="content">
    <p> We will be providing some wine and beer and soft drinks for all of our guests during dinner. The Perch has a bar which takes card and cash so you can buy extra drinks if you would like them. </p>
    </div>
    <div class="collapsible">
    <h3> What time does the wedding end? </h3>
    </div>
    <div class="content">
    <p> The wedding will end at midnight.
    </p>
    </div>
    <div class="collapsible">
    <h3> How do we get from the Perch back to the centre of Oxford? </h3>
      </div>
      <div class="content">
    <p> The Perch is around 2 miles from the centre of Oxford. The best way to get back to the centre of town after the wedding is to travel by taxi. There are lots of taxi companies in Oxford - <a href="https://www.001taxis.com/" target="_blank"> 001 taxis </a> can be reached on 01865 240000, or Uber is also available.</p>
    </p>   
    </div>
    <div class="collapsible">
    <h3> Any other questions? </h3>
    </div>
    <div class="content">
    <p> We would be pleased to help. Please get in touch with Genny (07917612341) or Joey (07944358884), or you can email us at gennyandjoeywedding@gmail.com. </p>
    </div>
    </div>
    </div>
</div>