<body class="jungle">

<div class="travel-details-container">
    <div class="travel-details">
    <div class="travel-heading">Travel</div>
    <h2> Location </h2>
    <p>Our wedding ceremony will be held at University College (OX1 4BH), which is centrally located in Oxford. It is on the High Street between the Magdalen Bridge and Carfax Tower.
    </p>
    <p>The reception will be held at the Perch Inn, which is next to Port Meadow. It is around 2 miles northwest of the city centre, or around 1.5 miles from the train station.
    </p>

    <div class="tabs-travel">
<ul class="tabs-list">
<li class="active"><a href="#train">Train</a></li>
<li ><a href="#coach">Coach</a></li>
<li ><a href="#car">Car</a></li>
</ul>


<div id="train" class="tab active">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">

    <h2>Train </h2>
    <p>A direct service operates between London Paddington and Oxford Station approximately every 30 minutes with a journey time of around one hour. University College is around one mile from the station, a fairly short, straightforward walk, although taxis are also available at the station.
    </p>
    <p>The last train from Oxford station back to London is at around 23:00. Details of train times and online ticket purchase can be found at <a href="https://www.thetrainline.com" target="_blank">thetrainline.com</a>.
    </p>
    <p> Trains also run between Birmingham New Street and Oxford. Other services operate from the North via Birmingham New Street; from the South via Reading; and from the West via Didcot or Reading.
    </p>
</div>
<div class="columnx2-right">
<div class="icon-container">
<center>
<img src= "<%= asset_path( 'train.png' ) %>" class="train">
</center>
</div>
</div>
</div>
</div>
</div>

<div id="coach" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Coach</h2>
    <p>London and Oxford are connected by coach with frequent 24-hour services run by the Oxford Tube. The journey time can vary a lot depending on the traffic so please leave lots of time to get there (at least 2 hours just in case). 
    </p>
    <p>
    Oxford Tube pick-up points in London include Grosvenor Gardens (in Victoria), Marble Arch, Notting Hill Gate, Shepherd’s Bush, and Hillingdon. The coach stops at a few different points in Oxford; the High Street stop is right outside University College. Details at <a href="http://www.oxfordtube.com" target="_blank">oxfordtube.com</a>.
    </p>
    <p>
    For information on coaches to or from other major cities see <a href="https://nationalexpress.com" target="_blank">nationalexpress.com</a>.
    </p>

</div>
 <div class="columnx2-right">
<center>
 <img src= "<%= asset_path( 'bus.png' ) %>" class="bus">
 </center>
 </div>
</div>
</div>
</div>

<div id="car" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Car</h2>
    <p>Many Oxford streets are closed to traffic and parking is severely limited. </p>
    <p>  If you are staying in accommodation in Oxford then it may offer parking for guests. Otherwise, if you would like to come by car, we encourage you to use the <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride/locations" target="_blank">Park and Ride</a> bus services. </p>
    <p> These operate between the city centre and parking areas on the outskirts. There are five <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride/locations" target="_blank">Park and Ride sites</a> which serve Oxford City Centre. </p>
    <p>
    <ul>
    <li>Oxford Parkway (north). For satnav use OX2 8HA.  Take the 500 bus to and from the city centre. </li>
    <li>Pear Tree (north). For satnav use OX2 8JD.  Take the 300 bus to and from the city centre. </li>
    <li>Redbridge (south). For satnav use OX1 4XG.  Take the 300 bus to and from the city centre. </li>
    <li>Thornhill (east). For satnav use OX3 8DP.  Take the 400 bus to and from the city centre. </li>
    <li>Seacourt (west). For satnav use OX2 0HP.  Take the 400 bus to and from the city centre. </li>
    </ul>
    </p>
    <p> <a href="https://www.oxford.gov.uk/directory_record/354/thornhill_park_and_ride/category/56/park_and_ride_sites" target="_blank">Thornhill Park and Ride </a> is the site that is easiest to reach from London. The journey time for getting from the Park and Ride sites to the centre of the city is around 15 minutes. </p>
    <p>The car park is accessible 24 hours a day but buses stop running at around 19:15 from the town centre on Saturdays. Timetables are available <a href="https://parkandride.oxfordbus.co.uk/timetables/" target="_blank">here</a>.</p>
    <p> Car parks are also available in the city centre. Oxford City Council recommends using <a href="https://www.oxford.gov.uk/directory_record/344/oxpens_car_park/category/53/city_centre_car_parks" target="_blank"> Oxpens car park </a> if you are driving into the city centre. More details can be found <a href="https://www.oxford.gov.uk/directory/8/car_parks_in_oxford/category/53" target="_blank">here</a>.


</div>
 <div class="columnx2-right">
 <div class="icon-container">
<center>
 <img src= "<%= asset_path( 'car.png' ) %>" class="car">
 </center>
 </div>
 </div>
</div>
</div>

</div>
</div>
</div>

</body>