<body class="jungle">

<div class="travel-details-container">
    <div class="travel-details">
    <div class="travel-heading">Travel</div>
    <h2> Location </h2>
    <p>Our wedding ceremony will be held at University College (OX1 4BH), which is centrally located in Oxford. It is on the High Street between the Magdalen Bridge and Carfax Tower.
    </p>
    <p>The reception will be held at the Perch Inn, which is next to Port Meadow. It is around 2 miles north of the city centre, or around 1.5 miles from the train station.
    </p>

    <div class="tabs-travel">
<ul class="tabs-list">
<li class="active"><a href="#train">Train</a></li>
<li ><a href="#coach">Coach</a></li>
<li ><a href="#car">Car</a></li>
</ul>


<div id="train" class="tab active">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">

    <h2>Train </h2>
    <p>A direct service operates between London Paddington and Oxford Station approximately every 30 minutes with a journey time of around one hour. University College is around one mile from the station, a short, straightforward walk, although taxis are also available at the station.
    </p>
    <p>Details of train times and online ticket purchase can be found at <a href="https://www.thetrainline.com" target="_blank">thetrainline.com</a>.
    </p>
    <p> Trains also run between Birmingham New Street and Oxford. Other services operate from the North via Birmingham New Street; from the South via Reading; and from the West via Didcot or Reading.
    </p>
</div>
<div class="columnx2-right">
<div class="icon-container">
<center>
<img src= "<%= asset_path( 'train.png' ) %>" class="train">
</center>
</div>
</div>
</div>
</div>
</div>

<div id="coach" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Coach</h2>
    <p>London and Oxford are connected by coach with frequent 24-hour services run by the Oxford Tube. The journey time can vary a lot depending on the traffic so please leave lots of time to get there (at least 2 hours just in case). 
    </p>
    <p>
    Oxford Tube pick-up points in London include Grosvenor Gardens (in Victoria), Marble Arch, Notting Hill Gate, Shepherd’s Bush, and Hillingdon. The coach stops at a few different points in Oxford; the High Street stop is right outside University College. Details at <a href="http://www.oxfordtube.com" target="_blank">oxfordtube.com</a>.
    </p>
    <p>
    For information on coaches to or from other major cities see <a href="https://nationalexpress.com" target="_blank">nationalexpress.com</a>.
    </p>

</div>
 <div class="columnx2-right">
<center>
 <img src= "<%= asset_path( 'bus.png' ) %>" class="bus">
 </center>
 </div>
</div>
</div>
</div>

<div id="car" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Car</h2>
    <p>Many Oxford streets are closed to traffic and parking is severely limited. </p>
    <p>  If you are staying in a hotel then it may offer parking for guests. Otherwise, if you would like to come by car, we encourage you to use the Park and Ride bus services. </p>
    <p> These operate between the city centre and parking areas on the outskirts at Pear Tree, Woodstock Road (north); Water Eaton (north); Seacourt, Botley Road (west); Redbridge, Abingdon Road (south); and Thornhill, London Road (east). </p>
    <p> The journey time for getting from the Park and Ride to the centre of the city is between 10 and 15 minutes. The car park is accessible 24 hours a day. </p>
    <p> Details at <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride" target="_blank">oxfordshire.gov.uk</a>.
    </p>


</div>
 <div class="columnx2-right">
 <div class="icon-container">
<center>
 <img src= "<%= asset_path( 'car.png' ) %>" class="car">
 </center>
 </div>
 </div>
</div>
</div>

</div>
</div>
</div>

</body>