<div class="row">
<h1>Travel</h1>
    <p>University College, where the ceremony will take place, is centrally located in Oxford - it is on the High Street between the Magdalen Bridge and Carfax Tower (postcode is OX1 4BH).
    </p>
    <p>The reception will be at the Perch Inn, which is in Port Meadow, is around 2 miles north from the city centre (or 1.5 miles from the train station).
    </p>
</div>
<div class="row">
<div class="columnx2-left">

    <h2>Train </h2>
    <p>A direct service operates between London Paddington and Oxford Station (approximately every 30 minutes with a journey time of around one hour). University College is approximately one mile from the station, a short, straightforward walk, although taxis are also available at the station.
    </p>
    <p>Details of train times and online ticket purchase can be found at <a href="https://www.thetrainline.com">thetrainline.com</a>.
    </p>
    <p> Trains also run between Birmingham New Street and Oxford. Other services operate from the north via Birmingham New Street; from the South via Reading; and from the west via Didcot or Reading.
    </p>
</div>
<div class="columnx2-right">
<div class="icon-container">
<center>
<img src= "<%= asset_path( 'train.png' ) %>" class="train">
</center>
</div>
</div>
</div>
<div class="row">
<div class="columnx2-left">
    <h2>Coach</h2>
    <p>London and Oxford are connected by coach with frequent 24-hour services. The journey time can vary a lot depending on the traffic so if you choose to come by coach, please leave lots of time for your journey (at least 2 hours just in case). 
    </p>
    <p>
    The Oxford Tube service includes Grosvenor Gardens, Marble Arch, Notting Hill Gate, Shepherd’s Bush, and Hillingdon. The coach stops at a few different points in town; the High Street stop is right outside University College. Details at <a href="http://www.oxfordtube.com">oxfordtube.com</a>.
    </p>
    <p>
    For information on coaches to or from other major cities see <a href="https://nationalexpress.com">nationalexpress.com</a>.
    </p>

</div>
 <div class="columnx2-right">
<center>
 <img src= "<%= asset_path( 'bus.png' ) %>" class="bus">
 </center>
 </div>
</div>

<div class="row">
<div class="columnx2-left">
    <h2>Car</h2>
    <p>Many Oxford streets are closed to traffic and parking is severely limited. If you would like to come by car, we encourage you to use the Park and Ride bus services which operate between the city centre and parking areas on the outskirts at Pear Tree, Woodstock Road (north); Water Eaton (north); Seacourt, Botley Road (west); Redbridge, Abingdon Road (south); and Thornhill, London Road (east). Details at <a href="https://www.oxfordshire.gov.uk">oxfordshire.gov.uk</a>.
    </p>

</div>
 <div class="columnx2-right">
 <div class="icon-container">
<center>
 <img src= "<%= asset_path( 'car.png' ) %>" class="car">
 </center>
 </div>
 </div>
</div>

