<body class="jungle">

<div class="travel-details-container">
    <div class="travel-details">
    <div class="travel-heading">Travel</div>
    <h2> Location </h2>
    <p>Our wedding ceremony will be held at University College (<a href="https://www.google.co.uk/maps/place/University+College/@51.7525769,-1.2542868,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c6ae75e1910f:0xe200d6141ce01e30!8m2!3d51.7525769!4d-1.2520981" target="_blank">OX1 4BH</a>), which is centrally located in Oxford. It is on the High Street between the Magdalen Bridge and Carfax Tower.
    </p>
    <p>The reception will be held at the <a href="https://www.google.co.uk/maps/place/The+Perch/@51.765512,-1.2895437,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c42be387e3d1:0xf0dd327f99c766ad!8m2!3d51.765512!4d-1.287355" target="_blank">Perch Inn </a>, which is next to Port Meadow. It is around 2 miles northwest of the city centre, or around 1.5 miles from the train station.
    </p>

    <div class="tabs-travel">
<ul class="tabs-list">
<li class="active"><a href="#train">Train</a></li>
<li ><a href="#coach">Coach</a></li>
<li ><a href="#car">Car</a></li>
</ul>


<div id="train" class="tab active">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">

    <h2>Train </h2>
    <p>A direct service operates between London Paddington and Oxford Station approximately every 30 minutes with a journey time of around one hour. University College is around one mile from the station, a fairly short, straightforward walk, although taxis are also available at the station.
    </p>
    <p>The last train from Oxford station back to London is at around 23:00. Details of train times and online ticket purchase can be found at <a href="https://www.thetrainline.com" target="_blank">thetrainline.com</a>.
    </p>
    <p> Trains also run between Birmingham New Street and Oxford. Other services operate from the North via Birmingham New Street; from the South via Reading; and from the West via Didcot or Reading.
    </p>
</div>
<div class="columnx2-right">
<div class="icon-container">
<center>
<img src= "<%= asset_path( 'train.png' ) %>" class="train">
</center>
</div>
</div>
</div>
</div>
</div>

<div id="coach" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Coach</h2>
    <p>London and Oxford are connected by coach with frequent 24-hour services run by the Oxford Tube. The journey time can vary a lot depending on the traffic so please leave lots of time to get there (at least 2 hours just in case). 
    </p>
    <p>
    Oxford Tube pick-up points in London include Grosvenor Gardens (in Victoria), Marble Arch, Notting Hill Gate, Shepherd’s Bush, and Hillingdon. The coach stops at a few different points in Oxford; the High Street stop is right outside University College. Details at <a href="http://www.oxfordtube.com" target="_blank">oxfordtube.com</a>.
    </p>
    <p>
    For information on coaches to or from other major cities see <a href="https://nationalexpress.com" target="_blank">nationalexpress.com</a>.
    </p>

</div>
 <div class="columnx2-right">
<center>
 <img src= "<%= asset_path( 'bus.png' ) %>" class="bus">
 </center>
 </div>
</div>
</div>
</div>

<div id="car" class="tab">
<div class="travel-wrapper">
<div class="row">
<div class="columnx2-left-travel">
    <h2>Car</h2>
    <p>Many Oxford streets are closed to traffic and parking is severely limited. </p>
    <p>  If you are staying in accommodation in Oxford then it is useful if it has parking for guests. Otherwise, if you would like to come by car, and you are staying overnight, we encourage you to use the <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride/locations" target="_blank">Park and Ride</a> bus services. These operate between the city centre and parking areas on the outskirts. </p>   
    <p>There are five <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride/locations" target="_blank">Park and Ride sites</a> which serve Oxford city centre. </p>
    <p>
    <ul>
    <li><a href="https://www.oxford.gov.uk/directory_record/353/oxford_parkway_park_and_ride/category/56/park_and_ride_sites" target="_blank" >Oxford Parkway</a> (north). For satnav use <a href="https://www.google.co.uk/maps/place/Water+Eaton,+Oxford+OX2+8HA/@51.8034766,-1.2809092,15z/data=!3m1!4b1!4m5!3m4!1s0x4876c480c7cba431:0xce210f6f865e4bda!8m2!3d51.8018497!4d-1.2710843" target="_blank">OX2 8HA</a>.  Take the 500 bus to and from the city centre. </li>
    <li><a href="hhttps://www.oxford.gov.uk/directory_record/352/pear_tree_park_and_ride/category/56/park_and_ride_sites" target="_blank"> Pear Tree</a> (north). For satnav use <a href="https://www.google.co.uk/maps/place/Oxford+OX2+8JD/@51.7934203,-1.2880367,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c45a9e908087:0xe73f05c59c073e61!8m2!3d51.7931181!4d-1.2851241" target="_blank">OX2 8JD</a>.  Take the 300 bus to and from the city centre. </li>
    <li><a href="https://www.oxford.gov.uk/directory_record/355/redbridge_park_and_ride/category/56/park_and_ride_sites" target="_blank">Redbridge</a> (south). For satnav use <a href="https://www.google.co.uk/maps/place/Abingdon+Rd,+Oxford+OX1+4XG/@51.7301306,-1.2519447,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c6cdc9ae38a1:0x21ce438c784e332b!8m2!3d51.7298451!4d-1.2499903" target="_blank">OX1 4XG</a>.  Take the 300 bus to and from the city centre. </li>
    <li><a href="https://www.oxford.gov.uk/directory_record/354/thornhill_park_and_ride/category/56/park_and_ride_sites" target="_blank">Thornhill</a> (east). For satnav use <a href="https://www.google.co.uk/maps/place/Oxford+Thornhill+Park+%26+Ride/@51.7632711,-1.1935422,15.84z/data=!4m13!1m7!3m6!1s0x4876c2283d2aab49:0x58b46c8eddc8ebf1!2sLondon+Rd,+Headington,+Oxford+OX3+8DP!3b1!8m2!3d51.7626382!4d-1.187583!3m4!1s0x4876c189d8eba6d5:0xf59087cff22c8c70!8m2!3d51.7617079!4d-1.1811107" target="_blank">OX3 8DP</a>.  Take the 400 bus to and from the city centre. </li>
    <li><a href="https://www.oxford.gov.uk/directory_record/356/seacourt_park_and_ride/category/56/park_and_ride_sites" target="_blank">Seacourt</a> (west). For satnav use <a href="https://www.google.co.uk/maps/place/Botley+Rd,+Oxford+OX2+0HP/@51.7551084,-1.2926093,16z/data=!3m1!4b1!4m5!3m4!1s0x4876c6869d9ba695:0x50e74ca702153d64!8m2!3d51.7548238!4d-1.2879121" target="_blank">OX2 0HP</a>.  Take the 400 bus to and from the city centre. </li>
    </ul>
    </p>
    <p> <a href="https://www.oxford.gov.uk/directory_record/354/thornhill_park_and_ride/category/56/park_and_ride_sites" target="_blank">Thornhill Park and Ride </a> is the site that is easiest to reach from London. The journey time for getting from the Park and Ride sites to the centre of the city is around 15 minutes. </p>
    <p>The car park is accessible 24 hours a day but buses stop running at around 19:15 from the town centre on Saturdays (timetables are available <a href="https://parkandride.oxfordbus.co.uk/timetables/" target="_blank">here</a>). Therefore, if you are not staying the night, you would need to arrange alternative travel (e.g. a taxi) to take you back to your car after the reception. </p>
    <p> <a href="https://www.oxford.gov.uk/directory/8/car_parks_in_oxford/category/53" target="_blank">Car parks</a> are also available in the city centre. Oxford City Council recommends using <a href="https://www.oxford.gov.uk/directory_record/344/oxpens_car_park/category/53/city_centre_car_parks" target="_blank"> Oxpens car park </a> if you are driving into the city centre. More details can be found <a href="https://www.oxford.gov.uk/directory/8/car_parks_in_oxford/category/53" target="_blank">here</a>.


</div>
 <div class="columnx2-right">
 <div class="icon-container">
<center>
 <img src= "<%= asset_path( 'car.png' ) %>" class="car">
 </center>
 </div>
 </div>
</div>
</div>

</div>
</div>
</div>

</body>