<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    <% @user.errors.full_messages.each do |msg| %>
      <ul style="font-family: "AR BLANCA"; font-size: 12pt">
      <li><%= msg %></li>
      </ul>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>


