<div class="sign-up-text"> You can edit your response by amending the form below. </div>

<center><div class="form-background" >
<%= form_for @response do |form| %>
  <div class="form-group">
  <label for="guest_name">Guest Name</label>
  <div class="guest-name-text"> <%= current_user.first_name %> <%= current_user.surname %> </div>
  </div>

  <div class="form-group">
  <label for="rsvp">Can you make it to the wedding?</label><br>
  <div class="form-yes">
    <input id="rsvp_yes" name="response[rsvp]" type="radio" value="Yes" />
    <label  class="radio-inline" for="rsvp_yes">Yes, I'll be there </label>
  </div>
  <div class="form-no">
    <input id="rsvp_no" name="response[rsvp]" type="radio" value="No" />
    <label  class="radio-inline" for="rsvp_no">No, sorry I can't make it</label>
  </div>
  </div>



   <div class="form-group" >
   <div class="diet">
  <label for="dietary_requirements">Do you have any dietary requirements?</label><br>
  <div class="diet-details-no">
    <input id="dietary_requirements_no" name="response[dietary_requirements]" type="radio" value="None" />
    <label  class="radio-inline" for="dietary_requirements_no">No</label>
  </div>
  <div class="diet-details-yes">
    <input id="dietary_requirements_yes" name="response[dietary_requirements]" type="radio" value="Yes (please specify)" />
    <label  class="radio-inline" for="dietary_requirements_yes">Yes (please specify) </label>
  </div>
  <input class="form-control" type="text" name="response[diet_details]" id="diet_details">
  </div>
  </div>

  <div class="form-group">
  <label for="text">Any extra comments? </label>
  <input class="form-control" type="text" name="response[text]" id="text">
  </div>

<center>
    <div class="cancel btn btn-secondary">
    <%=  link_to 'Cancel', response_path(@response) %>
    </div>

  <input type="submit" name="commit" value=" Update RSVP" class="btn btn-secondary" data-disable-with="RSVP">

  </center>
     
  <% end %>
 </div>
  </center>




