<div class="sign-up-text"> Please let us know if you can make it to the wedding by filling in the form by <b> 1 May 2021 </b> at the latest.</div>

<center><div class="form-background" >
<%= form_with scope: :response, url: responses_path, local: true do |form| %>
  <div class="form-group">
  <label for="guest_name">Guest Name</label>
  <div class="guest-name-text"> <%= current_user.first_name %> <%= current_user.surname %> </div>
  </div>

  <div class="form-group">
  <label for="rsvp">Can you make it to the wedding?</label><br>
  <div class="form-yes">
    <input id="rsvp_yes" name="response[rsvp]" type="radio" value="Yes" />
    <label  class="radio-inline" for="rsvp_yes">Yes, I'll be there </label>
  </div>
  <div class="form-no">
    <input id="rsvp_no" name="response[rsvp]" type="radio" value="No" />
    <label  class="radio-inline" for="rsvp_no">No, sorry I can't make it</label>
  </div>
  </div>

   <div class="form-group" >
   <div class="diet">
  <label for="dietary_requirements">Do you have any dietary requirements?</label><br>
  <div class="diet-details-no">
    <input id="dietary_requirements_no" name="response[dietary_requirements]" type="radio" value="None" />
    <label  class="radio-inline" for="dietary_requirements_no">No</label>
  </div>
  <div class="diet-details-yes">
    <input id="dietary_requirements_yes" name="response[dietary_requirements]" type="radio" value="Yes (please specify)" />
    <label  class="radio-inline" for="dietary_requirements_yes">Yes (please specify) </label>
  </div>
  <input class="form-control" type="text" name="response[diet_details]" id="diet_details">
  </div>
  </div>

  <div class="plus1">

  <div class="form-group">
  <label for="text">Please only fill in this section if more than one of you are named on the invitation </label>
  </div>

     <div class="form-group">
    <label for="plus1_name">Plus 1 First Name</label>
    <input class="form-control" type="text" name="response[plus1_first_name]" id="plus1_first_name">
    </div>

    <div class="form-group">
    <label for="plus1_name">Plus 1 Surname</label>
    <input class="form-control" type="text" name="response[plus1_surname]" id="plus1_surname">
    </div>

    <div class="form-group">
    <label for="rsvp">Can your +1 make it to the wedding?</label><br>
    <div class="form-yes">
      <input id="plus1_rsvp_yes" name="response[plus1_rsvp]" type="radio" value="Yes" />
      <label  class="radio-inline" for="rsvp_yes">Yes, they will be there </label>
    </div>
    <div class="form-no">
      <input id="plus1_rsvp_no" name="response[plus1_rsvp]" type="radio" value="No" />
      <label  class="radio-inline" for="rsvp_no">No, sorry they can't make it</label>
    </div>
    </div>
  
     <div class="form-group" >
     <div class="plus1_diet">
    <label for="dietary_requirements">Does your plus 1 have any dietary requirements?</label><br>
    <div class="diet-details-no">
      <input id="plus1_dietary_requirements_no" name="response[plus1_dietary_requirements]" type="radio" value="None" />
      <label  class="radio-inline" for="dietary_requirements_no">No</label>
    </div>
    <div class="diet-details-yes">
      <input id="plus1_dietary_requirements_yes" name="response[plus1_dietary_requirements]" type="radio" value="Yes (please specify)" />
      <label  class="radio-inline" for="dietary_requirements_yes">Yes (please specify) </label>
    </div>
    <input class="form-control" type="text" name="response[plus1_diet_details]" id="plus1_diet_details">
    </div>
 
   </div>

   <div class="form-group">
   <label for="text">Any extra comments? </label>
   <input class="form-control" type="text" name="response[text]" id="text">
   </div>
   </div>
  
    <center>

  <div value=" Add +1" class="btn btn-secondary" id="add_plus1" >Add +1 </div>

  <div value="Remove +1" class="btn btn-secondary" id="remove_plus1" >Remove +1 </div>

  <input type="submit" name="commit" value="RSVP" class="btn btn-secondary" data-disable-with="RSVP">
  </center>
   
  
    <% end %>



 </div>
  </center>





