
// this is for desktop
@media screen {


  .active-page-container {
    position: relative;
    display: inline-block;
  }



  #active-page {
    //background-image: url(menu-active.png);
    background-size: 66%;
    background-repeat: no-repeat;
    height: 107px;
    width: 165px;
    background-position: center;

} 

#active-page-home {
  background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: none;

} 


#inactive-page-home {
 // background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: block;

} 

#active-page-details {
  background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: none;

} 


#inactive-page-details {
 // background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: block;

} 

#active-page-travel {
  background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: none;

} 


#inactive-page-travel {
 // background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: block;

} 

#active-page-faqs {
  background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: none;

} 


#inactive-page-faqs {
 // background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: block;

} 

#active-page-rsvp {
  background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: none;

} 


#inactive-page-rsvp {
 // background-image: url(menu-active.png);
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  display: block;

} 


 .nav-link {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 45%;
  text-align: center;
  width: 60%;
  background-size: 66%;
  background-repeat: no-repeat;
  height: 107px;
  width: 165px;
  background-position: center;
  background-image: none;

  }


  /* Style the navigation menu */
.topnav {
  display: none;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}




.nav-pills-logged-out {
  background: $navbarColor !important;
  border-bottom: solid 1.5px black;
  height: 130px;
  a {
    color: black ;
    margin-bottom: 20px;
    font-family: $navBarFont;
    font-size: 12pt;
    font-weight: bold;
  }


}

.nav-pills {
    background: $navbarColor !important;
    border-bottom: solid 1.5px black;
    height: 130px;
    a {
      color: black ;
      margin-bottom: 20px;
      font-family: $navBarFont;
      font-size: 12pt;
      font-weight: bold;
    }


  }


  // .active {
  //   text-decoration: underline;

  // }


.nav-row {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

.nav-row-logged-out {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 66px;
  padding-left: 7%;
  padding-right: 7%;
}

.welcome-page-image {
  height: 30%;
  width: 30%;
  top: 0;
  bottom: 0;
  margin-top: 15px;
  min-height: 100px;
  max-height: 100px;
  min-width: 336px;
  max-width: 336px;
}

.frame-logged-out {
  height: 130px;
  position: relative;
}

.welcome-row {
  background: $navbarColor;
  text-align: right;
  padding-top: 12px;
  padding-right: 20px;
}


.welcome-text {
  font-family: 'AR BLANCA';
  font-size: 16px !important;
  font-weight: bold;
}

// a:active {
//   text-decoration: underline;
// }

}




// this is for phone
@media screen and (min-width : 200px) and (max-width : 1024px) {  

  .nav-pills {
    display: none;
    background: $navbarColor !important;
    border-bottom: solid 1.5px black;
    height: 0px;
    a {
      color: black ;
      margin-bottom: 20px;
      font-family: $navBarFont;
      font-size: 12pt;
      font-weight: bold;
    }

  }

  .nav-pills-logged-out {
    display: block;
    background: $navbarColor !important;
    border-bottom: solid 1.5px black;
    height: 113px;
    a {
      color: black ;
      margin-bottom: 20px;
      font-family: $navBarFont;
      font-size: 12pt;
      font-weight: bold;
    }

  }

   
  .active {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
  }


.nav-row {
    display: none;
    margin-right: 0px;
    margin-left: 0px; 
    margin-top: 0px; 
    padding-left: 0%; 
    padding-right: 0%; 

}

.nav-row-logged-out {
  display: none;
  margin-right: 0px;
  margin-left: 0px; 
  margin-top: 0px; 
  padding-left: 0%; 
  padding-right: 0%; 

}

.welcome-page-image {
  height: 30%;
  top: 0;
  bottom: 0;
  margin-top: 15px;
  min-height: 81px;
  max-height: 57px;
  min-width: 273px;
  max-width: 316px;
}

.frame {
  height: 130px;
  position: relative;
}


.welcome-row {
  display: none;
  background: $navbarColor;
  text-align: right;
  padding-top: 12px;
  padding-right: 20px;
  height: 55px;
}


.welcome-text {
  display: none;
  font-family: 'AR BLANCA';
  font-size: 12pt !important;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.welcome-row-mobile {
  background: white;
  text-align: right;
  padding-top: 12px;
  padding-right: 20px;
  height: 52px;
}


.welcome-text-mobile {
  font-family: 'AR BLANCA';
  font-size: 12pt !important;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
}

a:active {
  text-decoration: underline;
}



/* Style the navigation menu */
.topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
  font-family: 'AR BLANCA';
  border-bottom: solid 1.5px black;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.logout {
  font-family: 'AR BLANCA';
  font-size: 12pt !important;
  font-weight: bold;
  text-align: left;
  padding-left: 130px;
  color: blue;
  padding-top: -68px;
  margin-top: -36px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: lightgrey;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
  font-family: 'AR BLANCA';
}

}



