.nav-pills {
    background: $navbarColor !important;
    border-bottom: solid 2px black;
    height: 130px;
    a {
      color: black !important;
      margin-bottom: 20px;
      font-family: $websiteFont !important;
      font-size: 16pt;
    }
  }



.nav-row {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 66px;
}

.welcome-page-image {
  height: 30%;
  width: 30%;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: 100px;
  max-height: 100px;
  min-width: 336px;
  max-width: 336px;
}

.frame {
  height: 130px;
  // white-space: nowrap;
  // text-align: center;
  position: relative;
}

.helper {
  // display: inline-block;
  // height: 100%;
  // vertical-align: middle;
}

