.nav-pills {
    background: $navbarColor !important;
    border-bottom: solid 1.5px black;
    height: 130px;
    a {
      color: black !important;
      margin-bottom: 20px;
      font-family: $websiteFont !important;
      font-size: 16pt;
    }
  }



.nav-row {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 66px;
}

.welcome-page-image {
  height: 30%;
  width: 30%;
  top: 0;
  bottom: 0;
  margin-top: 15px;
  min-height: 100px;
  max-height: 100px;
  min-width: 336px;
  max-width: 336px;
}

.frame {
  height: 130px;
  position: relative;
}

.welcome-row {
  background: white !important;
  text-align: right;
  padding-top: 12px;
  padding-right: 20px;
}


.welcome-text {
  font-family: $websiteFont;
  font-size: 12pt !important;
}


