@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require rails_bootstrap_forms
 */

 @import "rails_bootstrap_forms";

// Variables
@import "base/variables";

// Partials - main css files
@import "partials/*";

//Home
@import "/home";

//Details
@import "/details";

//Travel
@import "/travel";

//Users
@import "/users";

//Sessions
@import "/sessions";

//Responses
@import "/responses";


.title-container {
    font-family: $websiteFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

body {
    // background-color: $websiteColor;
    background: url( 'pastels.png' );
    font-size: 12pt;
    // background-size: cover;
    background-repeat: repeat;

}

.columnx4 {
    float: left;
    width: 20%;
  }

.columnx2-centred-left {
    width: 50%;
    float: left;
}


.columnx2-centred-right {
    width: 50%;
    float: left;
}

.columnx2-left {
    float: left;
    width: 80%;
}

.columnx2-right {
    float: right;
    width: 20%;
}

.row {
    margin-top: 10px;
  }


h1 {
    font-family: $websiteFont;
    margin-bottom: 40px;
    font-size: 32pt;
}

p {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-bottom: 25px;
    text-align: left;
    
}

h2 {
    font-family: $websiteFont;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    
}

h3 {
    font-family: $websiteFont;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 40px;
    
}

.h3-first {
    font-family: $websiteFont;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0px;
    font-size: 24px;
}

.btn {
    font-size: 12pt !important;
    font-weight: bold;
    color: white;
    margin-top: 22px;
    margin-bottom: 5px;
    background: rgb(24,24,24);
    background: linear-gradient(90deg, rgba(24,24,24,1) 0%, rgba(37,37,41,1) 100%);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.form-heading {
    font-weight: bold;
    font-size: 26pt;
    text-align: center;
    color: #ce2077;
}



.intro-text {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-left: 94px;
    margin-bottom: -10px;
}

.form-background-sign-in {
    width: 40%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 36px;
    margin-bottom: 55px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: $websiteFont;
}

.form-background-rsvp {
    width: 50%;
    border: 1px solid black;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 48px;
    padding-bottom: 41px;
    margin: 57px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: $websiteFont;
}

.form-background-show-rsvp {
    width: 50%;
    border: 1px solid black;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 48px;
    padding-bottom: 41px;
    margin: 57px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: $websiteFont;
}

.sign-up-text {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Arial";
    font-size: 10pt;
    text-align: center;
}

.form-background {
    width: 70%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
}

.show-rsvp-form-background {
    width: 40%;
    border: 1px solid black;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.form-group {
    margin-bottom: 20px !important;
}
 

