@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require rails_bootstrap_forms
 */

 @import "rails_bootstrap_forms";

// Variables
@import "base/variables";

// Partials - main css files
@import "partials/*";

//Home
@import "/home";

//Details
@import "/details";

//Travel
@import "/travel";

//Users
@import "/users";

//Sessions
@import "/sessions";

//Responses
@import "/responses";

//FAQs
@import "/fa_qs";

.invalid-feedback {
    display: none;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
      list-style-type: disc;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
  

.tabs{
    width:80%;
    height:auto;
    margin:0 auto;
    margin-top: 40px;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.tabs .tabs-list li{
    width:150px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:cornflowerblue;
    border-radius:3px;
    font-family: 'AR BLANCA';
    font-size: 16pt;
    font-weight: bold;;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:white;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:96%;
    min-height:250px;
    height:auto;
    border-radius:3px;
    padding:20px 15px;
    background-color:lavender;
    color:darkslategray;
    clear:both;
    margin-bottom: 40px;
}
.tabs .tab h3{
    border-bottom:3px solid cornflowerblue;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}


/* When active state */
.active{
    display:block !important;
}
.tabs .tabs-list li.active{
    background-color:lavender !important;
    color:black !important;
}
.active a{
    color:black !important;
}




// this is for desktop
@media screen {




    .title
-container {
    font-family: $websiteFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

body.pink {
    background: url( 'flowers2.jpg' );
    font-size: 12pt;
    background-size: cover;
    background-repeat: repeat;

}

body.green {
    background: url( 'wildflowers.jpg' );
    font-size: 12pt;
    background-size: cover;
    background-repeat: repeat;

}

.reset-password-text {
    margin-top: 10px;
    margin-bottom: 23px;
}


.columnx4 {
    float: left;
    width: 20%;
  }

.columnx2-centred-left {
    width: 50%;
    float: left;
}


.columnx2-centred-right {
    width: 50%;
    float: left;
}

.columnx2-left {
    float: left;
    width: 80%;
}

.columnx2-right {
    float: right;
    width: 20%;
}

.row {
    margin-top: -5px;
    margin-right: -15px;
    padding: 23px;
    margin-left: 10px;
  }


h1 {
    font-family: $websiteFont;
    margin-bottom: 40px;
    font-size: 32pt;
}

p {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-bottom: 25px;
    text-align: left;
    
}

h2 {
    font-family: 'AR BLANCA';
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    
}

h3 {
    font-family: 'AR BLANCA';
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 7px;
    
}

.h3-first {
    font-family: 'AR BLANCA';
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
}

.btn {
    font-size: 12pt !important;
    font-weight: bold;
    color: white;
    margin-top: 22px;
    margin-bottom: 5px;
    background: rgb(24,24,24);
    background: linear-gradient(90deg, rgba(24,24,24,1) 0%, rgba(37,37,41,1) 100%);
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.form-heading {
    font-weight: bold;
    font-size: 26pt;
    text-align: center;
    color: #ce2077;
    font-family: 'AR BLANCA';
}



.intro-text {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-left: 94px;
    margin-bottom: -10px;
}

.form-background-sign-in {
    width: 40%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 36px;
    margin-bottom: 55px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.form-background-rsvp {
    width: 50%;
    border: 1px solid black;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 48px;
    padding-bottom: 41px;
    margin: 57px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.form-background-show-rsvp {
    width: 50%;
    border: 1px solid black;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 48px;
    padding-bottom: 41px;
    margin: 57px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.sign-up-text {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'AR BLANCA';
    font-size: 12pt;
    text-align: center;
}

.form-background {
    width: 70%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
}

.show-rsvp-form-background {
    width: 40%;
    border: 1px solid black;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.form-group {
    margin-bottom: 20px !important;
}

}


// this is for phone
@media screen and (min-width : 200px) and (max-width : 1024px) {
    .title
-container {
    font-family: $websiteFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tabs .tabs-list li {
    width: 118px;
    float: left;
    margin: 0px;
    margin-right: 2px;
    padding: 10px 5px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 3px;
    font-family: 'AR BLANCA';
    font-size: 14pt;
    font-weight: bold;
}

    .tabs .tab {
        text-align: center;
        display: none;
        width: 96%;
        min-height: 250px;
        height: auto;
        border-radius: 3px;
        padding: 11px 0px;
        background-color: lavender;
        color: darkslategray;
        clear: both;
        margin-bottom: 40px;
}


.tabs{
    width:90%;
    height:auto;
    margin:0 auto;
    margin-top: 40px;
}


body {
    background: url( 'flowers2.jpg' );
    font-size: 17pt;
    //background-size: cover;
    background-repeat: repeat;

}


.columnx4 {
    float: left;
    width: 20%;
  }

.columnx2-centred-left {
    width: 50%;
    float: left;
}


.columnx2-centred-right {
    width: 50%;
    float: left;
}

.columnx2-left {
    float: left;
    width: 80%;
}

.columnx2-right {
    float: right;
    width: 20%;
}


h1 {
    font-family: $websiteFont;
    margin-bottom: 40px;
    font-size: 32pt;
}

p {
    font-family: $websiteFont;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: left;
    
}

h2 {
    font-family: 'AR BLANCA';
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 23px;
    
}

h3 {
    font-family: 'AR BLANCA';
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 7px;
    
}

.h3-first {
    font-family: 'AR BLANCA';
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0px;
    font-size: 24px;
}

.btn {
    font-size: 16pt !important;
    padding-left: 31px;
    padding-right: 31px;
    font-weight: bold;
    color: white;
    margin-top: 22px;
    margin-bottom: 0px;
    background: #181818;
    background: linear-gradient(90deg, #181818 0%, #252529 100%);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px #a3abbe, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.form-heading {
    font-weight: bold;
    font-size: 31pt;
    text-align: center;
    color: #ce2077;
    font-family: 'AR BLANCA';
}



.intro-text {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-left: 94px;
    margin-bottom: -10px;
}

.form-background-sign-in {
    width: 86%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 36px;
    margin-bottom: 55px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.form-control {
    display: block;
    height: 39px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-background-rsvp {
    width: 90%;
    border: 1px solid black;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 32px;
    padding-bottom: 41px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.form-background-show-rsvp {
    width: 90%;
    border: 1px solid black;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 32px;
    padding-bottom: 41px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    font-family: 'AR BLANCA';
}

.sign-up-text {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'AR BLANCA';
    font-size: 14pt;
    text-align: center;
}

.form-background {
    width: 70%;
    border: 1px solid black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
}

.show-rsvp-form-background {
    width: 40%;
    border: 1px solid black;
    margin: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    font-family: $websiteFont;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.form-group {
    margin-bottom: 20px !important;
}
}










