@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
@import "base/variables";

// Partials - main css files
@import "partials/*";

//Home
@import "/home";

//Details
@import "/details";

//Travel
@import "/travel";

//Users
@import "/users";

.title-container {
    font-family: $websiteFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

body {
    background-color: #FBE5D6;
}

.columnx4 {
    float: left;
    width: 25%;
  }

.columnx2-centred-left {
    width: 50%;
    float: left;
}


.columnx2-centred-right {
    width: 50%;
    float: left;
}

.columnx2-left {
    float: left;
    width: 60%;
}

.columnx2-right {
    float: right;
    width: 40%;
}

.row {
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 10px;
  }


h1 {
    font-family: $websiteFont;
    margin-top: 80px;
    margin-left: 94px;
    margin-bottom: 40px;
    font-size: 32pt;
}

p {
    font-family: $websiteFont;
    font-size: 14pt;
    margin-left: 94px;
    margin-bottom: 25px;
}

h2 {
    font-family: $websiteFont;
    margin-top: 40px;
    margin-left: 94px;
    margin-bottom: 30px;
    font-weight: bold;
    
}



