// Place all the styles related to the Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.door-image {
    margin-top: 171px;
    height: 30%;
    width: 36%;
}

.main-quad-image {
    margin-top: 78px;
    height: 42%;
    width: 61%;
}


.perch-image {
    margin-top: 78px;
    height: 42%;
    width: 61%;
}

