// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


img {
    height:52%;
    width: 52%;
    margin-top: 50px;
    margin-bottom: 50px;
}