// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home-image {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 50%;
    height: auto;

}