// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.diet {
    display: none;
}

#diet_details {
    display: none;
}

#remove_plus1 {
    display: none;
}

.diet-details-yes {
    margin-bottom: 5px;
}

.plus1 {
    display: none;
}

.plus1_diet {
    display: none;
}

#plus1_diet_details {
    display: none;
}