// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.diet {
    display: none;
}

#diet_details {
    display: none;
}

#remove_plus1 {
    display: none;
}

.diet-details-yes {
    margin-bottom: 5px;
}

.plus1 {
    display: none;
}

.plus1_diet {
    display: none;
}

#plus1_diet_details {
    display: none;
}


.plus1-text {
    margin-top: 23px;
    font-weight: bold;
    font-size: 16pt;
    color: #2a0948;
    margin-bottom: 19px;
}

.form-heading-rsvp {
    font-weight: bold;
    font-size: 46pt;
    text-align: center;
    color: #ce2077;
}

.rsvp-deadline-text {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16pt;
    color: #2a0948;
    margin-bottom: 19px;
}