// Place all the styles related to the Travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.train {
    margin-top: 100px;
    height: 29%;
    width: 41%;
}

.bus {
    margin-top: 100px;
    height: 49%;
    width: 43%;
}

.car {
    margin-top: 100px;
    height: 49%;
    width: 43%;
}

