// Place all the styles related to the Travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// this is for desktop
@media screen {

    .travel-wrapper {
        background-color: white;
        border-radius: 24px;
        padding: 15px;
    }

    .travel-row {
        // margin-right: -15px;
        padding: 20px;
    }

    .tabs-travel {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        margin-left: 0px;
    }



    /* tab list item */
.tabs-travel .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.tabs-travel .tabs-list li{
    width:150px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:lavender;
    border-radius:3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'AR BLANCA';
    font-size: 16pt;
    font-weight: bold;;
}
.tabs-travel .tabs-list li:hover{
    cursor:pointer;
}
.tabs-travel .tabs-list li a{
    text-decoration: none;
    color:black;
}

/* Tab content section */
.tabs-travel .tab{
    display:none;
    width: 100%;
    min-height: 250px;
    height: auto;
    border-radius: 25px;
    border-top-left-radius: 0px;
    padding: 30px 38px;
    background-color: #d6979a;
    color: black;
    clear: both;
    margin-bottom: 40px;
}
.tabs-travel .tab h3{
    border-bottom:3px solid lavender;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}

/* When active state */
.active{
    display:block !important;
}
.tabs-travel .tabs-list li.active{
    background-color:#d6979a !important;
    color:white !important;
}
// .active a{
//     color:white !important;
// }


    
.columnx2-left-travel {
    float: left;
    width: 80%;
    padding-left: 28px;
    padding-right: 28px;
    
}

.train {
    margin-top: 100px;
    height: 50%;
    width: 41%;
}

.bus {
    margin-top: 100px;
    height: 70%;
    width: 43%;
}

.car {
    margin-top: 100px;
    height: 70%;
    width: 43%;
}

.travel-details {
    background-color: white;
    border-radius: 5em;
    border: solid 1px black;
    margin-top: 40px;
    width: 80%;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    
}

.travel-details-container {
    text-align: center;
    margin-bottom: 40px;
}

.travel-heading {
    font-weight: bold;
    font-size: 40pt;
    text-align: center;
    color: #ce2077;
    margin-bottom: 20px;
    font-family: 'AR BLANCA';
}

}

// this is for mobile

@media screen and (min-width : 200px) and (max-width : 1024px) {

    .tabs-travel .tabs-list li {
        width: 76px;
        float: left;
        margin: 0px;
        margin-right: 2px;
        padding: 10px 5px;
        text-align: center;
        background-color:lavender;
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        font-family: 'AR BLANCA';
        font-size: 12pt;
        font-weight: bold;
    }

    
    .travel-wrapper {
        background-color: white;
        border-radius: 24px;
    }

    .tabs-travel ul {
        font-size: 12pt;
    }

    .tabs-travel .tab{
        display:none;
        width: 100%;
        min-height: 250px;
        height: auto;
        border-radius: 25px;
        border-top-left-radius: 0px;
        padding: 22px 14px;
        background-color: #d6979a;
        color: black;
        clear: both;
        margin-bottom: 40px;
        font-size: 12pt !important;
    }
    
.columnx2-left-travel {
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.train {
    display: none;
    margin-top: 100px;
    height: 50%;
    width: 41%;
}

.bus {
    display: none;
    margin-top: 100px;
    height: 70%;
    width: 43%;
}

.car {
    display: none;
    margin-top: 100px;
    height: 70%;
    width: 43%;
}

.travel-details {
    background-color: white;
    border-radius: 1em;
    border: solid 1px black;
    margin-top: 40px;
    width: 90%;
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 19px;
    padding-bottom: 10px;
    text-align: left;
}
    


.travel-details-container {
    text-align: center;
    margin-bottom: 40px;
}

.travel-heading {
    font-weight: bold;
    font-size: 33pt;
    text-align: center;
    color: #ce2077;
    margin-bottom: 15px;
    font-family: 'AR BLANCA';
}
}