<div class="details-container">
    
    <div class="details">
    <div class="row">
        <h2>The Ceremony at Univ Chapel </h2>
        </div>
<div class="row">

    <p>We are looking forward to getting married on <b> Saturday 17th July 2021</b> in Oxford, the city where we first met 8 years ago. The ceremony will be held in the Chapel of University College, Oxford, which is where Genny was a student.
    </p>
    <p>
    University College is located on the High Street, OX1 4BH. The entrance is a big brown door, which is up a few stairs. There are two big brown doors – the entrance is the one furthest to the right as you look at college.    
    </p>
    <p>
    The chapel is straight across the main quad. The ceremony starts at 2pm so please arrive from 1.30pm to make sure you are in and seated in time. The ceremony will take approximately 30 minutes.
    </p>
</div>
<div class="row">
<center>
<div id="map1">
</div>
</center>
</div>

</div>
</center>
</div>



<div class="details-container">
    <div class="details">
<div class="row">
    <h2>The Reception at The Perch</h2>
</div>
<div class="row">
    <p>We have arranged travel from the ceremony to the reception, which we want to keep a bit of a surprise. There will be a little bit of walking involved (about 10 mins).
    </p>
    <p>The reception will be at The Perch Inn, Binsey Ln, Binsey, Oxford, OX2 0NG. The Perch is located next to Port Meadow, approximately 2 miles from Oxford city centre. We will be in a marquee with hard flooring but there are some outdoor grassy areas too so please bear that in mind when choosing your footwear.
    </p>
    <p>A three course feast will be served at 5.30pm, followed by a band and music until midnight.
    </p>
    <p>No parking will be available for guests. There are lots of taxi companies in Oxford - <a href="https://www.001taxis.com/"> 001 taxis </a> can be reached on 01865 240000, or Uber is also available.
    </p>
</div>
<div class="row">
<center>
<div id="map2">
</center>
</div>
</div>

</div>
</div>

<script>
// Initialize and add the map
function initMap() {
  // The location of Univ
  var univ = {lat: 51.752730, lng:   -1.252107}
  var perch = {lat: 51.765552, lng: -1.287494 } 
  // The map, centered at Uluru
  var map1 = new google.maps.Map(
      document.getElementById('map1'), {zoom: 14.7, center: univ});
  var map2 = new google.maps.Map(
      document.getElementById('map2'), {zoom: 13.6, center: perch});
  // The marker, positioned at Univ
  var marker1 = new google.maps.Marker({position: univ, map: map1});
  var marker2 = new google.maps.Marker({position: perch, map: map2});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMpOn3nECV3ERrme7FJzSz5hcH_nyeQuc&callback=initMap">
    </script>

