<body class="green">

<div class="tabs">
<ul class="tabs-list">
<li class="active"><a href="#ceremony">Ceremony</a></li>
<li ><a href="#reception">Reception</a></li>
</ul>


<div id="ceremony" class="tab active">

    <div class="details">
  
        <div class="details-header" > Ceremony </div>
            <div class="details-sub-header">Chapel at University College, Oxford </div>




    <p>We are looking forward to getting married on <b> Saturday 17th July 2021</b> in Oxford, the city where we first met 8 years ago. The ceremony will be held in the Chapel of University College, Oxford, which is where Genny was a student.
    </p>
    <p>
    University College is situated in the centre of the City on the <a href="https://www.google.co.uk/maps/place/University+College/@51.7525769,-1.2542868,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c6ae75e1910f:0xe200d6141ce01e30!8m2!3d51.7525769!4d-1.2520981" target="_blank"> High Street, OX1 4BH</a>. The main entrance to the college is a big brown door, which is up a few steps. There are two big brown doors – the entrance is the one furthest to the right as you look at college, opposite a red phone box.  
    </p>
    <p>
    Please note there is no parking at the college and parking in Oxford is extremely limited. If you are coming by car then we recommend that you leave your car at the <a href="https://www.oxfordshire.gov.uk/residents/roads-and-transport/public-transport/park-and-ride" target="_blank"> Park and Ride </a> - there are more details on the <%= link_to 'Travel', controller: 'travel' %> page.
    </p>
    <p>
    If you walk straight down the path in front of you as you enter the college, the chapel is at the other end of the quad through a door to the left of a passageway. The ceremony starts at 2pm so please arrive from 1.30pm to make sure you are seated in time. The ceremony will last for approximately 30 minutes.
    </p>


<center>
    <img src= "<%= asset_path( 'univ-2010.png' ) %>" class="univ-image">
    <img src= "<%= asset_path( 'chapel-2120.png' ) %>" class="univ-image">
</center>
<center>
<div id="map1">
</div>
</center>


</center>
</div>

</div>

<div id="reception" class="tab">

    <div class="details">

    <div class="details-header-perch">Reception </div>
    <div class="details-sub-header-perch" > The Perch Inn, Binsey, Oxford</div>


    <p>We have arranged travel from the ceremony to the reception, which we are keeping as a surprise. This will involve a bit of walking on pathways (about 10 mins). We will guide you there straight after the ceremony.
    </p>
    <p>The reception will be at <a href="https://www.google.co.uk/maps/place/The+Perch/@51.765512,-1.2895437,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c42be387e3d1:0xf0dd327f99c766ad!8m2!3d51.765512!4d-1.287355" target="_blank"> The Perch Inn, Binsey Lane, Binsey, Oxford, OX2 0NG </a>. The Perch is located next to Port Meadow, approximately 2 miles from Oxford city centre. We will be in a marquee with hard flooring but there are some outdoor grassy areas too so please bear that in mind when choosing your footwear.
    </p>
    <p>A three course meal will be served at 5.30pm, followed by a band and music until midnight.
    </p>
    <p>No parking will be available for guests. However, there are lots of taxi companies in Oxford available for booking transport to leave The Perch at the end of the night - <a href="https://www.001taxis.com/" target="_blank"> 001 taxis </a> can be reached on 01865 240000, or Uber is also available.
    </p>

<center>
<div id="map2">
</center>
</div>



</div>
</div>

<script>
// Initialize and add the map
function initMap() {
  // The location of Univ
  var univ = {lat: 51.752730, lng:   -1.252107}
  var perch = {lat: 51.765552, lng: -1.287494 } 
  // The map, centered at Univ
  var map1 = new google.maps.Map(
      document.getElementById('map1'), {zoom: 14.7, center: univ});
  var map2 = new google.maps.Map(
      document.getElementById('map2'), {zoom: 13.6, center: perch});
  // The marker, positioned at Univ
  var marker1 = new google.maps.Marker({position: univ, map: map1});
  var marker2 = new google.maps.Marker({position: perch, map: map2});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMpOn3nECV3ERrme7FJzSz5hcH_nyeQuc&callback=initMap">
    </script>

    </body>