<div class="row">
<div class="columnx2-left">
<h1>Details</h1>
    <p>We are looking forward to getting married in Oxford, the city where we first met 8 years ago. The date of the wedding is <b> Saturday 17th July 2021</b>.
    </p>
    <h2>The Ceremony - 3pm </h2>
    <p>The ceremony will be held in the Chapel of University College, Oxford, which is where Genny was a student.
    </p>
    <p>
    University College is located on the High Street, OX1 4BH. The entrance is a big brown door, which is up a few stairs. There are two big brown doors – the entrance is the one furthest to the right as you look at college.    
    </p>
    <p>
    The chapel is straight across the main quad. The ceremony starts at 3pm so please arrive from 2.30pm to make sure you are in and seated in time. The ceremony will take approximately 45 minutes.
    </p>
</div>
<div class="columnx2-right">
<center>
<img src= "<%= asset_path( 'UnivDoors.png' ) %>" class="door-image">
</center>
<center>
<img src= "<%= asset_path( 'main-quad.png' ) %>" class="main-quad-image">
</center>
</div>
</div>
<div class="row">
<div class="columnx2-left">
    <h2>The reception</h2>
    <p>We have arranged travel from the ceremony to the reception. Please note there will be a bit of walking involved (about 10 mins).
    </p>
    <p>The reception will be at The Perch Inn, Binsey Ln, Binsey, Oxford, OX2 0NG. The Perch is located next to Port Meadow, approximately 2 miles from Oxford city centre.
    </p>
    <p>We will be in a marquee with hard flooring but there are some outdoor grassy areas too so please bear that in mind when choosing your footwear.
    </p>
    <p>A three course feast will be served at 5.30pm, followed by music until midnight.
    </p>
    <p>No parking will be available for guests. There are lots of taxi companies in Oxford - <a href="https://www.001taxis.com/"> 001 taxis </a> can be reached on 01865 240000, or Uber is also available.
    </p>
</div>
<div class="columnx2-right">
<center>
<img src= "<%= asset_path( 'perch.png' ) %>" class="perch-image">
</center>
</div>
</div>

