<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to 'Home', controller: 'home', class: 'nav-link active' %>
    </li>
    <li class="nav-item">
    <%= link_to 'Details', controller: 'details', class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'RSVP', new_response_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Travel', controller: 'travel', class: 'nav-link' %>
    </li>
</ul>
