<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% if logged_in? %>
<div class="welcome-row">
<div class="welcome-text"> Welcome, <%= current_user.first_name %> |
 <%= link_to "Log out", logout_path %>
 </div>
</div>






<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Top Navigation Menu -->
<div class="topnav">
  <div class="welcome-row-mobile">
    <div class="welcome-text-mobile"> Welcome, <%= current_user.first_name %>   </div> 
  </div>

</div>



  <center>
  <div class="nav nav-pills nav-justified">
    <div class="nav-row">
    
    </div>
    </div>
  </center>
</div>
<%else%>
<div class="nav nav-pills-logged-out nav-justified">
<div class="frame">
<span class="helper"></span>
 <center>
  <img src= "<%= asset_path( 'genny&joeycentred' ) %>" class="welcome-page-image">
 </center>
</div>
</div>

<%end%>
